.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
}

.boxUserMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    font-size: 25px;
    color:#fff;
}

.btnLogout{
background-color: #268cfd; 
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}